<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard category</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/v/bs4-4.1.1/dt-1.10.24/datatables.min.css" />

</head>

<body>
    <div class="container mt-3">
        <div class="row">
            <div class="col-sm-12">
                <button type="button" id="btnLoadCategory" class="btn btn-outline-danger btn-lg btn-block">
                    Load Categories
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h3>Category List From Sakira!!!</h3>
                        <a id="add-button" class="btn btn-outline-success" role="button" data-toggle="modal"
                            data-target="#add-modal">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            Add Category
                        </a>
                    </div>
                    <div class="card-body">
                        <table class="table" id="table-category">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Last Update</th>
                                    <th scope="col">Setting</th>
                                </tr>
                            </thead>
                            <tbody id="list-category">

                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer text-muted">
                        Footer
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4-4.1.1/dt-1.10.24/datatables.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>


    <script>
        $('#btnLoadCategory').on('click', function () {
            $.ajax({
                url: 'http://localhost:3000/api/categories',
                type: 'GET'
            }).done(function (data) {
                let index = 0;
                // console.log(data)
                for (category of data) {
                    var tr = ` 
            <tr>
              <td>${category.category_id}</td>
              <td>${category.name}</td>
              <td>${category.last_update}</td>
           `;
                    tr += `
                        <td class="text-center">
                          <a class="btn btn-primary" role="button" style="margin: 2px;"
                          type="button" class="btn btn-primary" name="${index}" data-toggle="modal" data-target="#detail-modal" id="detail-button-${category.category_id}">
                            <i class="far fa-eye"></i>
                          </a>
                          <a class="btn btn-success" role="button" style="background: rgb(11,171,56);margin: 2px;"
                          type="button" class="btn btn-primary" name="${index}" data-toggle="modal" data-target="#edit-modal" id="edit-button-${category.category_id}">
                            <i class="fas fa-pencil-alt"></i>
                          </a>
                          <a class="btn btn-danger" role="button" style="margin: 2px;"
                          type="button" class="btn btn-primary" name="${index}" data-toggle="modal" data-target="#delete-modal" id="delete-button-${category.category_id}">
                            <i class="fas fa-trash"></i>
                          </a>
                        </td>
                      </tr>`;
                    $('#list-category').append(tr);
                    index += 1;


                    $('#detail-button-' + category.category_id).click((row) => {
                        $('#detail-modal-category-id').html(data[row.currentTarget.name].category_id);
                        $('#detail-modal-name').html(data[row.currentTarget.name].name);
                        $('#detail-modal-last-update').html(data[row.currentTarget.name].last_update);
                    })


                    $('#edit-button-' + category.category_id).click((row) => {
                        $('#edit-modal-category-id').html(data[row.currentTarget.name].category_id);
                        $('#edit-modal-name').attr('placeholder', (data[row.currentTarget.name].name)).blur();
                        $('#edit-modal-last-update').html(data[row.currentTarget.name].last_update);
                    })
                    $('#delete-button-' + category.category_id).click((row) => {
                        $('#delete-modal-category-id').html(data[row.currentTarget.name].category_id);
                    })
                }


                $('#btn-save-add').click(() => {
                    const dataToPost = {
                        name: $('#add-modal-name').val(),
                    };
                    const jsonToPost = JSON.stringify(dataToPost);
                    $.ajax({
                        url: 'http://localhost:3000/api/categories',
                        data: jsonToPost,
                        dataType: 'json',
                        type: 'POST',
                        contentType: 'application/json',
                        success: (data) => {
                            Swal.fire(
                                'Good job!',
                                'Add successfully !!!',
                                'success'
                            ).then(() => {
                                location.reload();
                            })
                        },
                        error: () => {
                            Swal.fire(
                                'Something went wrong!',
                                'Add failed !!!',
                                'error'
                            )
                        }
                    })
                })


                $('#btn-save-edit').click(() => {
                    const dataToPost = {
                        category_id: $('#edit-modal-category-id').html(),
                        name: $('#edit-modal-name').val() || $('#edit-modal-name').attr('placeholder'),
                    };
                    let url = 'http://localhost:3000/api/categories/category/' + dataToPost.category_id;
                    const jsontoPost = JSON.stringify(dataToPost);
                    $.ajax({
                        url: url,
                        data: jsontoPost,
                        dataType: 'json',
                        type: 'PUT',
                        contentType: 'application/json',
                        success: (data) => {
                            Swal.fire(
                                'Good job',
                                'Update successs!!!!!',
                                'success'
                            ).then(() => {
                                location.reload();
                            })
                        },
                        error: () => {
                            Swal.fire(
                                'Something went wrong!',
                                'Update fail !!!!',
                                'error'
                            )
                        }
                    })
                })


                $('#btn-delete').click(() => {
                    $.ajax({
                        url: 'http://localhost:3000/api/categories/category/' + $('#delete-modal-category-id').html(),
                        dataType: 'json',
                        type: 'DELETE',
                        contentType: 'application/json',
                        success: (data) => {
                            Swal.fire(
                                'Good job!',
                                'Delete successfully !!!',
                                'success'
                            ).then(() => {
                                location.reload();
                            })
                        },
                        error: () => {
                            Swal.fire(
                                'Something went wrong!',
                                'Delete failed !!!',
                                'error'
                            )
                        }
                    })
                })



                $('#table-category').DataTable();

            })
        })

    </script>

    <!-- Add category -->
    <div class="modal fade" id="add-modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" style="float: left; margin-top: 10px;">Add category</h4>
                    <button type="button" style="float: right; margin-top: 0px;" class="close"
                        data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div className="form-group">
                        <div className="form-control">
                            <p type="text" style="width:30%; font-weight:bold; display: inline-block;">First Name: </p>
                            <input type="text" id="add-modal-name" style="display: inline-block; width: 50%;" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btn-save-add" data-dismiss="modal">Save
                        Changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Detail category -->
    <div class="modal fade" id="detail-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Detail category</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="form-control d-inline-flex">
                            <label for="categoryID">category ID : </label>
                            <p class="ml-1 font-weight-bold" id="detail-modal-category-id">category_id</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-control d-inline-flex">
                            <label for="firstName">Name : </label>
                            <p class="ml-1 font-weight-bold" id="detail-modal-name">category_id</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-control d-inline-flex">
                            <label for="lastUpdate">Last Update : </label>
                            <p class="ml-1 font-weight-bold" id="detail-modal-last-update">category_id</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <!--Edit modal-->
    <div class="modal fade" id="edit-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit category</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="d-inline-flex">
                            <label for="categoryID">category ID : </label>
                            <p class="ml-1 font-weight-bold" id="edit-modal-category-id">category_id</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="d-inline-flex">
                            <label for="firstName">Name : </label>
                            <input class="ml-1 font-weight-bold" id="edit-modal-name">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="d-inline-flex">
                            <label for="lastUpdate">Last Update : </label>
                            <p class="ml-1 font-weight-bold" id="edit-modal-last-update">last_update</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btn-save-edit" data-dismiss="modal">Save
                        Changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--Delete modal-->

    <div class="modal fade" id="delete-modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" style="float: left; margin-top: 10px;">Deleted category</h4>
                    <button type="button" style="float: right; margin-top: 0px;" class="close"
                        data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div className="form-group">
                        <div className="form-control">
                            <div className="form-control">
                                <p type="text" style="display: inline-block;">Do you really want to </p>
                                <p type="text" style="font-weight:bold; display: inline-block;">category ID: </p>
                                <p type="text" style="font-weight:bold; display: inline-block;"
                                    id="delete-modal-category-id"></p>
                                <p type="text" style="display: inline-block;">?</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" id="btn-delete"
                            data-dismiss="modal">Delete</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>